* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color:  #39AD96;
}

.header {
    text-align: center;
    /* background-color: #39AD96; */
    background-image: url('../images/modern-nature-watercolor-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    display: flex;
    flex-direction: column;
    padding: 75px;
    /* border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px; */
    border-bottom: 4px solid rgb(255, 149, 0);
    /* border-right: 4px solid rgb(255, 165, 0);
    border-left: 4px solid rgb(255, 165, 0);  */
    margin: 0px;
}

.nav-bar {
    background-color: rgba(23, 21, 21, 0.916);
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
    /* border-top: 4px solid rgb(255, 165, 0); */
    /* border-right: 4px solid rgb(255, 165, 0);
    border-left: 4px solid rgb(255, 165, 0);  */
    margin: 0px;
}

.main-background {
    /* background-image: url('../images/sea-landscape-with-digital-art-style.jpg'); */
    /* background-image: url('../images/modern-nature-watercolor-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh; 
    display: flex;
    flex-direction: column; */
    width: 100vw;
    /* background-color:  #39ad96; */
    background-color:  #dec8a298;
}

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(247, 245, 242, 0.392); 
    z-index: 1;
  } */
 
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}  
  
.content {
    flex: 1;  
    margin: 20px;
}
  
.footer {
    background-color: rgba(23, 21, 21, 0.916);
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
    border-top: 4px solid rgb(255, 149, 0);      
    width: 100%; 
    box-sizing: border-box;
}