* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color:  #39AD96;
}

.header {
    text-align: center;
    background-image: url('../images/modern-nature-watercolor-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    display: flex;
    flex-direction: column;
    padding: 75px;
    border-bottom: 4px solid rgb(255, 149, 0);
    margin: 0px;
}

.nav-bar {
    background-color: rgba(23, 21, 21, 0.916);
    margin: 0px;
}

.main-background {
    width: 100vw;
    background-color:  #dec8a298;
}
 
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}  
  
.content {
    flex: 1;  
    margin: 20px;
}
  
.footer {
    background-color: rgba(23, 21, 21, 0.916);
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
    border-top: 4px solid rgb(255, 149, 0);      
    width: 100%; 
    box-sizing: border-box;
}