.project-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    gap: 2.5rem;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

@media (max-width: 700px) {
    .project-cards-container {
        flex-direction: column;
        align-items: center;
    }
}

.project-cards {
    width: 300px;
}

@media (max-width: 400px) {
    .project-cards {
        width: 250px;
    }
}

p, h4, li {
    color: rgb(18, 51, 92);
    text-align: justify;  
    margin-left: 20px;
    margin-right: 20px;
}